:root {
    --primary-color: #aed6ae;
    --secondary-color: #f4a261;
    --accent1-color: #264653;
    --accent2-color: #f5d688;
    --heading-font: 'Times New Roman';
    --body-font: Arial;
}

header {
    height: 230px;
    background-color: var(--primary-color);
    display: grid;
    grid-template-columns: 280px 1fr;
    align-items: center;
}
nav {
    
}
header nav ul{
    background-color: #fff;
    display: flex;
    list-style: none;
    justify-content: space-between;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
li {
    padding: 20px;
    border: 1px solid #000;
    align-items: center;
}
header img {
    padding: 20px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    width: 100%;
    background-color: var(--accent1-color);
    text-align: center;
}

nav, p, section, article {
    margin: 16px;
    padding: 0px;
}

section something {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 20px;
}
figure{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr 0.3fr;
    margin-top: 3px;
}

figure img {
    width: 158px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 10px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.77;
    background-color: var(--accent1-color);
    color: #fff;
}

.hero article {
    position: absolute;
    top: 330px;
    width: 80%;
    left: 67px;
    padding: 16px;
    text-align: left;
    font-size: 16px;
    background-color: var(--accent2-color);
}

.hero article img {
    float: right;
    width: 125px;
}

h2 {
    padding: 10px;
}